.banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em;
  color: var(--white);
}
.banner__text__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}
.banner__text__title {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ffffff, #7b438b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
// .banner__text__heading {
//   font-size: 3rem;
//   font-weight: 700;
// }
.banner__text__heading {
  font-size: 3rem; /* Adjust as needed */
  font-weight: bold; /* Optional */
  background: linear-gradient(90deg, #55277c, #ccc2cf); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.banner__text__sub_heading {
  font-size: 1rem;
  max-width: 500px;
  line-height: 28px;
  font-weight: 400;
}
.banner__text__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.banner__button {
  background-color: transparent;
  transition: 300ms ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  border: 1px solid #55277c;
  border-radius: 30px;
  padding: 1em 2em;
}
.banner__button:hover {
  background-color: #55277c;
  transition: 300ms ease-in-out;
}
.banner__button__social {
  background-color: transparent;
  border: 1px solid #dd9747;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.banner__image {
  rotate: 5deg;
  object-fit: contain;
  transition: 300ms ease-in-out;
}
.banner__image:hover {
  rotate: 0deg;
  transition: 300ms ease-in-out;
}
.scroll__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  display: flex;
  overflow: hidden;
  color: white;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}
.scroll__container__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  font-weight: 500;
  animation: InfiniteScroll__slide 30s linear infinite;
}

.scroll__text__warper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3em;
  font-weight: 700;
  padding: 0.4em;
  border-radius: 5px;
  min-width: 200px;
  font-size: 3.5rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.scroll__subtitle {
  font-size: 0.8rem;
  font-weight: 300;
  width: 100px;
}
@keyframes InfiniteScroll__slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap, 0px)));
  }
}
@media (max-width: 950px) {
  .banner__text__col {
    margin-bottom: 4em;
  }
  .banner__container {
    flex-direction: column;
  }
  .banner__image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .banner__text__heading {
    font-size: 2rem;
  }
  .banner__text__sub_heading {
    font-size: 0.8rem;
    line-height: 20px;
  }
}
