:root {
  --white: #ffffff;
  --whiteShadow: #fcfcfc;
  --primary: rgb(15, 7, 22);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: var(--white);
  background: rgb(15, 7, 22);
  background: linear-gradient(83deg, rgba(15, 7, 22, 1) 0%, rgb(35, 7, 59) 78%);
}
@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
